/* 폰트 태그 기본 속성 지정 */
font, b{
	font-size : 100%;
}

/* 폰트 페이스 지정 */
/* 미생체 폰트는 무료 폰트이기때문에 쉽게 구하실수 있습니다. ttf 파일을 구해서 fonts 폴더에 넣어주시면 폰트가 적용됩니다. */
@font-face{ /* 미생체 */
	font-family : 'misaeng';
	src : url(fonts/SDMiSaeng.ttf) format('truetype');
}

#misaengfont{ /* 미생체 */
	font-family : 'misaeng';
}